:root{
    font-size: 15px;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: red;
}
.outer-box{
    width:48rem;
    height: 48rem;
    margin:4rem auto;
    display: flex;
    flex-wrap: wrap;
    row-gap: 0;
    column-gap: 0;
}

.inner-box{
    width:6rem;
    height: 6rem;
    border: 1px solid black;
}

.black-background{
    background-color: black;
}

.red-color{
    background-color: red;
}
